body.readings {background-color: #458355;}

body.homework {background-color: #474747;}

div.bodytext {
    background-color: rgba(216,228,233, 0.5); 
    border: 4px solid rgba(167,199,203,0.2); 
    border-radius: 25px; 
    padding: 5px; 
    margin:20px
}

div.image_text {
    background-color: rgba(216,228,233, 0.5); 
    border: 4px solid rgba(167,199,203,0.2); 
    border-radius: 25px; 
    padding: 10px; 
    margin: 20px;
    display: flex; 
    justify-content: center; 
    align-items: center;
}

p.image_text{
    padding: 5px; 
    margin:20px
}

div.title {
    display: flex; 
    justify-content: center; 
    text-align: center;
}

h2.title, h1.title, h3.title, h4.title {
    background-color: rgba(216,228,233, 0.5); 
    border: 4px solid rgba(167,199,203,0.2); 
    border-radius: 25px; 
    padding: 7px; 
    margin: 10px;
}